DEBUG=True
SECRET_KEY=YOUR SECRET KEY
CELERY_BROKER_URL=redis://url:port
DEFAULT_FROM_EMAIL=YOUR DEFAULT FROM EMAIL
EMAIL_HOST=smtp.your-email-host.com
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=YOUR S*CRE* P*SSWORD
EMAIL_PORT=123
